html, body {
  margin:0;
  padding:0;
  background-color: rgb(234, 208, 174);
}

.app-container {
  background-color: rgb(234, 208, 174);
  width: 100%;
  height: 100%;
}

h1 {
  font-family: Sofia, sans-serif;
  text-align: center;
  font-size: 50px;
  color: #AE69FF;
}

#header-singleProduct {
  font-size: 20px;
}

.admin {
  display: flex;

  flex-direction: column;

  margin: auto;

  height: 100%;

  width: 90%;

  align-items: center;

  justify-content: center;
  /* margin: 50px; */
}


.cart-container{
  display:flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 80%
  /* justify-content: center; */
}

/* .cart-container{
  /* margin-top: 12px;  */
  /* border-style: solid black 2px;
} */

/* .app-container h1 {
  color: var(--green);
  padding: 1rem;
} */

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 16px;
}

.product-card {
  flex-basis: 300px;
  flex-grow: 0;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  margin: 10px 15px;


  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: transform 200ms ease-in-out;
  border: solid #AE69FF 3px;
  font-family: sans-serif;
  background-color: white;
  color: black;

  /* flex-wrap: wrap; */

}



.product-card a {
  color: black;
}

.product-card:hover {

  /* transform: translateY(-1rem); */
  transform: scale(110%);
  /* transform: perspective(17px); */
}

.product-img img {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 60px;
  padding: 12px;
  font-size: 24px;
  background-color: rgb(239, 181, 105);
  border-bottom: solid #AE69FF 3px;
  /* height: 30px; */
}

.header-nav a:visited {color: black;}
.header-nav a:hover {
  /* font-size:125%; */

  transition: 0.3s;
  transform: scale(125%);

  /* height: 30px; */
}

.header-nav a {
  display: flex;

  /* padding: 6px; */
  text-decoration: none;
  font-family: sans-serif;
  margin-left: 32px;
  margin-right: 6px;

  align-items: center;


}

.products-nav {
  display: flex;
  justify-content: center;
  
  align-items: center;

  font-size: 24px;
  height: 1rem;
  margin-bottom: 12px;
}

.products-nav a {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  justify-content: center;
  padding: 5px;
  text-decoration: none;
  font-family: sans-serif;
  /* background-color: black; */
  /* border-top: solid white 2px;
  border-bottom: solid white 2px; */
  width: 100vw;
  /* color: black; */
  
}

/* .products-nav a:link {color:#ff0000;} */
/* .products-nav a:visited {color: black;} */
.products-nav a:hover {
  transition: 0.3s;
  /* font-size:125%; */

  transform: scale(125%);


}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: rgb(239, 181, 105);
  border: 2px solid #000;
  box-shadow: 24;
  padding: 7px;
}

.review-input {
  display: flex;
}

.logo-image {
  display: flex;
  justify-content: center;
  padding: 10px;
}


button {
  border: solid black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

#login {
  text-align: center;
  font-size: 25px;
}

#register {
  text-align: center;
  font-size: 25px;
}

.text-box {
  height: 40px;
  font-size: 20px;
  padding: 20px;
  border-radius: 12px;
  border: solid black 2px;
  margin: 10px;
}



button {
  transition-duration: 0.3s;
}

button:hover {
  background-color: rgb(239, 181, 105);
}

.single-product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: sans-serif;
}




.product-view {
  flex-basis: 200px;
  flex-grow: 1;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  /* margin: 5px 10px; */
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid #AE69FF 3px;
  font-family: sans-serif;
  background-color: white;
  color: black;
}


.product-details {
  flex-basis: 200px;
  flex-grow: 1;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 5px 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-evenly;
  border: solid #AE69FF 3px;
  font-family: sans-serif;
  background-color: white;
  color: black;
}

.detail-label {
  font-weight: bold;
}

.product-reviews {
  flex-grow: 1;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: solid #AE69FF 3px;
  font-family: sans-serif;
  background-color: white;
  color: black;
  /* display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-evenly; */
}




.logo, .logo-secret {
  width: 20%;
  height: 20%;
  margin: 8px;
  padding: 8px;
}
.logo-secret {
  transition: 0.3s;
  animation-name: spin;
  animation-duration: 1800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
  
@keyframes spin {
  from {
    transform:rotate(0deg);
  } to {
    transform:rotate(360deg);
    }
}

#add-product-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px
}


.product-link {
  text-decoration: none;
}

